/*RESET E ESTILO BASE*/
/*'0' é o seletor universal que aplica os estilos a TODOS os elementos da página*/
*{/*begin*/
    margin: 0; /*remove margens padrão que os navegadores adicional*/
    padding: 0; /*remove espaçamentos internos padrão*/
    box-sizing: border-box; /*faz com que o padding e border sejam incluídos na largura e altura total do elemento*/
}/*end*/
body{
    /*Fontes: Segoe UI é a primeira opção se não tiver, vai tentando as próximas*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; /*altura entre as linhas 1.6x o tamanho da fonte*/
    color: #333; /*cor do texto 'cinza escuro'*/ 
    /*gradiente de fundo: 135deg é a direção, de roxo claro para roxo escuro*/
    background: linear-gradient(135deg,#667eea 0%, #764ba2 100%);
    min-height: 100vh; /*vh = viewport height. Mínimo de 100% da altura da tela*/
}

